body {
  -webkit-overflow-scrolling: touch;
}

body,
html,
#__nuxt {
  height: 100%;
}

.parallax-group {
  position: relative;
  height: inherit;
  z-index: -1;
}

.parallax-layer.base {
  position: static;
  z-index: 1;
}

.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  height: inherit;
}

// VSCode has a syntax validation bug for @supports, please ignore
@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
  body,
  html,
  #__nuxt {
    overflow: hidden;
  }

  .parallax {
    perspective: 1px;
    perspective-origin: 100%;
    -webkit-perspective-origin: 100%;
  }

  .parallax-group {
    position: relative;
    height: inherit;
    transform-style: preserve-3d;
  }

  .parallax-layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100%;
    transform-origin: 100%;

    &.deepest {
      transform: translateZ(-3px) scale(4);
    }
    &.deep {
      transform: translateZ(-2.5px) scale(3.5);
    }
    &.back {
      transform: translateZ(-0.5px) scale(1.5);
    }
    &.base {
      transform: translateZ(0);
      top: auto;
    }
  }
}
